.app-wrapper {
    margin: 0 auto;
display: grid;
width: 1920px;
grid-template-areas:
"header header "
"nav content "
"footer footer ";
 grid-template-rows: 100px 1fr;
 grid-template-columns: 2fr 10fr;
 grid-gap: 10px;
}


.header {
grid-area: header;
background-color: black;
border-radius: 5px;
display: flex;
}

.header img {
width: 100px;
border-radius: 5px;
}

.header h1 {
    color: #798286;
    margin-left: 200px;
    font-family: 'Cardo', serif;
}

.navbar {
font-family: 'Cardo', serif;
grid-area: nav;
border-radius: 5px;
background-color: #E1E1E1;
}

.content {
font-family: 'Cardo', serif;
grid-area: content; 
background-color: #798286;
border-radius: 5px;
}

.footer {
grid-area: footer;
background-color: black;
height: 100px;
border-radius: 5px;
}